{{ use('yii/helpers/Html') }}
{{ use('yii/bootstrap/Nav') }}
{{ use('yii/bootstrap/NavBar') }}
{{ use('yii/widgets/Breadcrumbs') }}

{{ register_asset_bundle('app/assets/AppAsset') }}

{{ this.beginPage() | raw }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ html.csrfMetaTags() | raw }}
    <title>{{ html.encode(this.title) | raw }}</title>
    {{ this.head()  | raw }}
</head>
<body>
{{ this.beginBody() | raw }}
<div class="wrap">
    {% include "_top_nav.twig" %}
    <div class="container">
        {{ breadcrumbs_widget({'links': this.params['breadcrumbs'],}) }}
        {{ content  | raw }}
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; My Company {{ "now" | date("Y") }}</p>
        <p class="pull-right">{{ yii.powered()  | raw }}</p>
    </div>
</footer>
{{ this.endBody() | raw }}
</body>
</html>
{{ this.endPage() | raw }}
